:root {
    --text: #f0f0f0;
    --background: #0d0d0d;
    --primary-button: #919191;
    --secondary-button: #080808;
    --accent: #47595c;
  }
/* 
  text: "#f0f0f0",
        background: "#0d0d0d",
        primaryBtn: "#919191",
        secondaryBtn: "#080808",
        accent: "#47595c", */